* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

header {
    background-image: url("./images/banner/banner3.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #005FAC;
    margin-bottom: 130px;
}

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    padding: 230px 350px 230px 850px;
}

.banner-content-tittle {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    margin-bottom: 25px;
    text-align: right;
}

.banner-content-description {
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 25px;
    text-align: right;
}

.primary-button {
    color: #005FAC;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 25px;
}


/* // another site start */
main {
    margin: 0 200px;
}

.failure-section {
    display: flex;
    align-items: center;
}

.failure-tittle {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 25px;
}

.failure-text {
    margin-left: 90px;

}

.failure-descption {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-bottom: 15px;
}

.icon {
    display: flex;
    align-items: center;
}

.icon-text {
    margin-left: 10px;
}

.commom-descption {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
}

/* //paln area */

.plan-area {
    margin-top: 130px;
}

.plan-tittle {
    text-align: center;
    margin-bottom: 55px;
    font-weight: 700;
    font-size: 40px;
}

.plan {
    display: flex;
    text-align: center;
    justify-content: space-around;
    gap: 86px;
}

.development {
    text-align: center;
}

.plan-common-text {
    font-weight: 700;
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 15px;
}

.plan-common-description {
    font-weight: 500;
    font-size: 15px;
    color: #737272;
}


.tricks-area {
    background-image:
        linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%),
        url('images/watch.png');

    height: 250px;
    background-size: cover;
    color: white;
    padding: 20px;
    margin-top: 130px;
    border-radius: 8px;
}

.tricks-tittle {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    margin: 60px 0px 24px 65px;
}

.tricks-button {
    background: #FFFFFF;
    border-radius: 5px;
    padding: 20px 36px;
    border: 0;
    margin-left: 64px;
    margin-bottom: 60px;
    color: #005FAC;

}

/* mission area */
.mission {
    display: flex;
    text-align: center;
    gap: 20px;
}

.Mission-area {
    text-align: center;
    margin-top: 130px;
}

/* .mission-part {
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    padding: 30px 20px;
    width: 33.33%;
} */

.mission-tittle {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 40px;
}

.mission-description {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 20px;
    color: #737272;
}

.mission-common-tittle {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
}

.mission-part1 {
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    padding: 30px 20px;
    width: 33.33%;
    background-color: antiquewhite;
}

.mission-part2 {
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    padding: 30px 20px;
    width: 33.33%;
    background-color: rgb(175, 175, 100);
}

.mission-part3 {
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    padding: 30px 20px;
    width: 33.33%;
    background-color: aquamarine;
}

footer {
    margin-top: 130px;
    background-color: black;
}

.footer-area {
    margin: 0 200px;
    display: flex;
    justify-content: space-between;
}

.footer-tittle {
    margin-top: 130px;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
}

.footer-description {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-email {
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-number {
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.footer-subscribe {
    margin-top: 130px;
}

.footer-sub-tittle {
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.from-text {
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    width: 325px;
    height: 64px;
    margin-bottom: 15px;
}

.footer-btn {
    padding: 20px 36px;
    color: #F15B22;
    background: #005FAC;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}